<footer class="main-footer no-print">
  <div class="pull-right hidden-xs">
    <b>Version</b> 1.0
  </div>
  <strong>Copyright &copy; 1900-2016 <a href="http://www.bitetree.com", target="_blank">BiteTree</a>.</strong> All rights reserved.
</footer>
