<!DOCTYPE html>
<html>
  <head>
    <title>BiteTree</title>
    <%= stylesheet_link_tag    'admin_application', media: 'all' %>
    <%= javascript_include_tag 'admin_application' %>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <meta name="renderer" content="webkit">
  </head>
  <body class="skin-blue sidebar-mini">
  </body>
</html>
