<footer class="footer">
  <div class="container">
    <strong>
      Copyright &copy; <%= Time.now.year %>
      <a href="http://www.bitetree.com", target="_blank">
        BiteTree.COM
      </a>
    </strong>
  </div><!-- /.container -->
</footer>
