<div>
  <p>您好： <span class="email"><%= @email %></span>!</p>

  <p>请点击下面的按钮完成注册：</p>

  <p class="btn-link">
    <%= link_to '完成注册', confirmation_url(@resource, confirmation_token: @token) %>
  </p>
</div>

