<p>您好， <span class="email"><%= @resource.email %></span>!</p>

<p>有人要求更改密码的链接，您可以通过下面的链接更改密码：</p>

<p class="btn-link"><%= link_to '修改密码', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>如果您没有要求请求更改密码，请忽略此电子邮件。</p>
<p>如果你没有访问上面的链接并更改密码，你的密码就不会被改变。</p>
